.memory-block {
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    color: white;
    position: relative;
}
.flash { background-color: #ffc107; }
.ram { background-color: #17a2b8; }
.section {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0.8;
    padding: 2px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.text { background-color: #28a745; }
.data { background-color: #dc3545; }
.bss { background-color: #6c757d; }

.content-wrapper {
    width: 100%;
    padding: 0 15px;
}

#resetButton {
    display: none;
}

#uploadForm {
    display: flex;
    flex-direction: column;
}
.form-fields {
    display: flex;
    flex-direction: column;
}
.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}
.button-calculate {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    float:right;
}
#resultSections {
    display: none;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
}
#resultSections > div {
    flex: 1;
}

@media (max-width: 768px) {
    #resultSections {
        flex-direction: column;
    }
    #resultSections > div {
        width: 100%;
    }
}

/* Style for Memory Usage Section */
#memoryUsage {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

#memoryUsage h4 {
    text-align: center;
    margin-bottom: 20px;
}

.memory-visualization.merged-visualization h6 {
    text-align: center;
    margin-bottom: 15px;
}

/* Responsive adjustments for pie charts */
@media (max-width: 768px) {
    #memoryUsage .row {
        flex-direction: column;
        align-items: center;
    }
    
    #memoryUsage .col-md-6 {
        width: 100%;
        max-width: 300px;
        margin-bottom: 20px;
    }
}

/* Memory Container Styles */
.memory-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    height: 600px; /* Adjust as needed */
    overflow-y: auto;
}

/* Section Block Styles */
.section-block {
    width: 100%;
    position: absolute;
    left: 0;
}

.section-label {
    color: white;
    font-weight: bold;
}

/* Tooltip Styles */
.section-tooltip {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 3px;
    z-index: 1000;
}

/* Symbol Styles */
.symbol {
    position: absolute;
    width: 100%;
    height: 5px; /* Adjust height as needed */
    background-color: #FFC0CB; /* Light Pink */
    opacity: 0.6;
    cursor: pointer;
}